<%- include header %>

<h1>手动添加课程</h1>
<form method ="post">
        职工号:<input type="text" id="number" name="number"/><br />
        课程名:<input type="text" name="courseName"/><br />
        课程时间: <input type="text" name="courseTime"/><br />
        班级: <input type="text" name="courseClass"/><br />
        教室:<input type="text" name="classRoom" /><br />
        <input class="submit" type="submit" value="提交" /><br />
</form>
        <button class="submit"><a class="aColor" href="/">导入</a></button>

<%- include footer %>