<%- include header %>
<form method="post">
    老师添加的课程信息：<br />
    <textarea name="post" rows="20" cols="100"></textarea><br />
</form>
    <button class="submit"><a class="aColor" href="/">返回主页面</a></button>
<%- include footer %>