<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/amazeui.min.js"></script>
<script src="/assets/js/amazeui.ie8polyfill.min.js"></script>
<script src="/assets/js/amazeui.min.js"></script>
<script src="/javascripts/jquery-1.11.1.min.js"></script>
<script src="/javascripts/jquery-2.1.4.min.js"></script>
<script src="/javascripts/JSXTransformer.js"></script>
<script src="/javascripts/teacher.js"></script>

</body>
</html>
