<%- include mp-header%>


                <div class="am-panel am-panel-danger">
                    <div class="am-panel-hd">
                        <h3 class="am-panel-title">学生补签</h3>
                    </div>
                     
                      <div class="am-form-group">
                <label for="class">班级</label>
                <select id="class" name="class" >
                <option  value="网络一班">网络一班</option>
                <option  value="网络二班">网络二班</option>
                <option  value="软件一班">软件一班</option>
                <option  value="软件二班">软件二班</option>
                </select>
            </div>
            <div class="am-form-group">
                <label for="doc-vld-name-3">姓名</label>
                <input type="text" id="doc-vld-name-3" name="stuName"  />
            </div>
            <div class="am-form-group">
                <label for="doc-vld-no-3">学号</label>
                <input type="text" id="doc-vld-no-3" name="stuNo" />
            </div>
            <button class="am-btn am-btn-success" type="submit" >补签</button>

                </div>

           
<%- include mp-footer%>
