<%- include mp-header %>

<form class="am-form">
 
 <div class="am-form-group">

      <label for="mpclass">课程名</label>
      <select id="mpclass" onchange="mpTeacher(this.value)">
        <% teacher.forEach(function(tea){%>
        <option ><%= tea.courseName%></option>
        <%}); %>
      </select>
      <span class="am-form-caret"></span>
    </div>
</form>

<div  id="TeacherCourse">


</div>




<script src="/javascripts/mp-teacher.js"></script>

<%- include mp-footer %>
