<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>学生信息绑定</title>

    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">

    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <link rel="icon" type="image/png" href="/assets/i/favicon.png">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="/assets/i/app-icon72x72@2x.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="apple-touch-icon-precomposed" href="/assets/i/app-icon72x72@2x.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="/assets/i/app-icon72x72@2x.png">
    <meta name="msapplication-TileColor" content="#0e90d2">

    <link rel="stylesheet" href="/assets/css/amazeui.min.css">
    <link rel="stylesheet" href="/assets/css/app.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <script src="/assets/js/jquery.min.js"></script>
</head>
<body>

<!-- <div style="width: 700px;position: absolute;left: 50%;margin-left: -350px;margin-top:20px"> -->
    <div class="pageBg login_frame" style="background: white; background-size:100% 100%">
    <form method="post" action="" class="am-form" data-am-validator>
        <fieldset>
            <legend id="reg-id">绑定</legend>
            <div class="am-form-group">
                <label for="doc-vld-school-3">学校</label>
                <input type="text" id="doc-vld-school-3" name="stuSchool"  placeholder="比如: <%= teacherSchool%>" required/>
            </div>
             <div class="am-form-group">
                <label for="doc-vld-stuInstitute-3">学院</label>
                <input type="text" id="doc-vld-stuInstitute-3" name="stuInstitute"  placeholder="" required/>
            </div>
            <div class="am-form-group">
                <label for="doc-vld-class-3">班级</label>
                <input type="text" id="doc-vld-class-3" name="stuClass"  placeholder="" required/>
            </div>
            <div class="am-form-group">
                <label for="doc-vld-name-3">姓名</label>
                <input type="text" id="doc-vld-name-3" name="stuName" minlength="2" placeholder="输入真实姓名（至少2个字符）" required/>
            </div>
            <div class="am-form-group">
                <label for="doc-vld-no-3">学号</label>
                <input type="text" id="doc-vld-no-3" name="stuNo" placeholder="输入学号" required/>
            </div>
            <button class="am-btn am-btn-secondary" type="submit" >绑定</button>
            <button class="am-btn am-btn-secondary" type="reset" >重置</button>
        </fieldset>
    </form>
</div>

</body>
<!--[if (gte IE 9)|!(IE)]><!-->
<script src="/wx/guagua.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="/assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="/assets/js/amazeui.min.js"></script>
</body>
</html>
