<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>签到详情</title>

    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">

    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <link rel="icon" type="image/png" href="/assets/i/favicon.png">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="/assets/i/app-icon72x72@2x.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="apple-touch-icon-precomposed" href="/assets/i/app-icon72x72@2x.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="/assets/i/app-icon72x72@2x.png">
    <meta name="msapplication-TileColor" content="#0e90d2">

    <link rel="stylesheet" href="/assets/css/amazeui.min.css">
    <link rel="stylesheet" href="/assets/css/app.css">
    <script src="/assets/js/jquery.min.js"></script>
</head>
<body>

 <div class="pageBg login_frame" style="background: white; background-size:100% 100%">
      <form method="post" action="" class="am-form" data-am-validator>
        <fieldset>
            <legend id="reg-id">本节课的签到详情</legend>
            <div class="am-form-group">
                <label for="doc-vld-school-3">已签到次数</label>
                <input type="text" id="arrivedCount" name="arrivedCount"  value="<%= arrivedCount%>" readonly/>
            </div>
             <div class="am-form-group">
                <label for="doc-vld-stuInstitute-3">总签到次数</label>
                <input type="text" id="kaoqinCount" name="kaoqinCount"  value="<%= kaoqinCount%>" readonly/>
            </div>
        </fieldset>
    </form>
</div>

</body>
</html>
