<%- include header %>

<form method ="post">
课程 <input type="text" name="class"/><br />
时间 <input type="text" name="time" /><br />
老师职工号 <input type="text" name="teacherid" /><br />
老师名 <input type="text" name="teachername" /><br />
        <input type="submit" value="提交" />
        <input type="submit" value="导入" />
</form>
<%- include footer %>